<div class="js-sidebar-content">
  <header class="logo hidden-sm-down">
    <a href="index.html">{{config.name}}</a>
  </header>
  <div class="sidebar-status hidden-md-up">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="thumb-sm avatar float-right">
        <img class="rounded-circle" src="assets/img/people/a5.jpg" alt="...">
              </span>
      <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
           should be used with bg-* and text-* classes for colors -->
              <span class="circle bg-warning fw-bold text-gray-dark">
                  13
              </span>
      &nbsp;
      Philip <strong>Smith</strong>
      <b class="caret"></b>
    </a>
    <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
  </div>
  <!-- main notification links are placed inside of .sidebar-nav -->
  <ul class="sidebar-nav">
    <li>
      <a class="collapsed" data-target="#sidebar-dashboard" data-toggle="collapse" data-parent="#sidebar">
          <span class="icon">
            <i class="fa fa-desktop"></i>
          </span>
        Dashboard
        <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul id="sidebar-dashboard" class="collapse">
        <li><a [routerLink]=" ['dashboard'] ">Dashboard</a></li>
        <li><a [routerLink]=" ['widgets'] ">Widgets</a></li>
      </ul>
    </li>
    <li>
      <a class="collapsed" data-target="#sidebar-dashboard-2" data-toggle="collapse" data-parent="#sidebar">
          <span class="icon">
            <i class="fa fa-desktop"></i>
          </span>
        <small>信息中心</small>
        <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul id="sidebar-dashboard-2" class="collapse">
        <li><a [routerLink]=" ['mockup'] "><small>实时数据</small></a></li>
        <li><a ><small>预测数据</small></a></li>
      </ul>
    </li>

  </ul>



  <h5 class="sidebar-nav-title">近期活动&会展</h5>
  <!-- A place for sidebar notifications & alerts -->
  <div class="sidebar-alerts">
    <div class="alert fade show">
      <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
      <span class="text-white fw-semi-bold">维也纳酒店（广粤路店）</span> <br>
      <!--<div class="progress progress-xs bg-blue-light mt-xs mb-0">
        <div class="progress-bar progress-xs" role="progressbar" style="width: 16%" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100"></div>
      </div>-->
      <ul>
        <li><small>2017上海国际电梯及电机配套产品展览会(2017-06-07 到 2017-06-09)</small></li>
        <li><small>2017上海国际物流与运输系统展览会(2017-06-07 到 2017-06-09)</small></li>
      </ul>
    </div>
    <div class="alert fade show">
      <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
      <span class="text-white fw-semi-bold">布丁酒店（浦建路店）</span> <br>
      <!--<div class="progress progress-xs bg-blue-light mt-xs mb-0">
        <div class="progress-bar progress-xs bg-danger" role="progressbar" style="width: 23%" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100"></div>
      </div>-->
      <ul>
        <li><small>2017中国（上海）国际港口装备展览会(2017-06-07 到 2017-06-09)</small></li>
        <li><small>2017亚洲消费电子展(2017-06-07 到 2017-06-09)</small></li>
        <li><small>2017中国国际模具技术和设备展览会(2017-06-07 到 2017-06-09)</small></li>
      </ul>
    </div>
  </div>
</div>
